<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--  <add key="ApiLogin" value="8b58T2A5r2G"/>
    <add key="TransactionKey" value="23D9bubUK9Wm822J"/>
    <add key="MerchantHash" value="MERCHANT_HASH"/>-->
    <add key="ApiLogin" value="8b58T2A5r2G"/>
    <add key="TransactionKey" value="23D9bubUK9Wm822J"/>
    <add key="MerchantHash" value="MERCHANT_HASH"/>
    <!-- here you define the way you want to be notified -->
    <!-- LogEvent = 1, FileLog = 2 e Email = 4. Use 0 when you don't want to be notified -->
    <add key="errorNotifier_NotifyMode" value="4"/>
    <!-- Here you define the event source entry in your LogEvent, the default value is ASP.NET App Error -->
    <add key="errorNotifier_EventLogSource" value="Sample App error"/>
    <!-- Here you define the full path where the file logging should occur -->
    <add key="errorNotifier_Filename" value="error.txt"/>
    <!-- The email address that will receive the notifications -->
    <add key="errorNotifier_EmailTo" value="error@mydomain.com"/>
    <!-- The email account that sends the emails -->
    <add key="errorNotifier_EmailFrom" value="errornotifier@mydomain.com"/>
    <!-- The email subject -->
    <add key="errorNotifier_EmailSubject" value="Error in ASP.NET app"/>
    <!-- The SmtpServer address. Just use if you don't want to use the local SmtpServer -->
    <add key="errorNotifier_EmailSmtpServer" value="mySmtpServerAddress"/>
    <!-- EmailSettings For secureportal-->
    <!-- EmailSettings For live
      <add key="FromAddrmer" value="sales@meridianplanners.com"/>
      <add key="FromNamemer" value="Meridain Planners"/>
      <add key="SmtpServer" value="192.168.1.245"/>
      <add key="smtpuser" value="authnet@memorybook.com"/>
      <add key="smtppassword" value="authnet"/>
      -->

    <add key="FromAddr" value="randy@woodalldevelopment.com"/>
    <add key="FromName" value="testMBc Planners"/>
    <add key="SmtpServer" value="mail.woodalldevelopment.com"/>
    <add key="smtpuser" value="randy@woodalldevelopment.com"/>
    <add key="smtppassword" value="briggitte"/>
  </appSettings>
  <connectionStrings>
    <add name="mbcConnectionString" connectionString="server=memserver;User Id=root;password=3l3phant1;Persist Security Info=True;database=mbc"
      providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
            <customErrors mode="Off"/>  
        -->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <!--<add assembly="MySql.Data, Version=6.1.3.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D"/>
        <add assembly="MySql.Web, Version=6.1.3.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D"/>-->
        <add assembly="MySql.Data.Entity, Version=6.4.5.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D"/>
        <add assembly="MySql.Web, Version=6.4.5.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D"/>
        <add assembly="MySql.Data, Version=6.4.5.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D"/>
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <namespaces>
        <add namespace="AuthorizeNet.Helpers"/>
      </namespaces>
    </pages>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
</configuration>