@charset "utf-8";
/* CSS Document */
.wrapper {
	position:relative;
	height:27px;
	width:600px;
}

#nav   {
	margin:0px;
	line-height:100%;
	display:inline-block;
	background-image: url(../images/greentab.jpg);
	padding: 0px;
}

#nav li {
	float:left;
	position:relative;
	list-style:none;
}
#nav a {
	font-weight:bold;
	color:#FFF;
	text-decoration:none;
	display:block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	padding-top: 5px;
	padding-bottom: 6px;
	width: 100px;
	text-indent: 4px;
}
#nav a:hover {
	color:#FFF;
	background-color: #000;
}
#nav .current a, #nav li:hover > a {
	color:#360;
	background-color: #ddd;
	background-image: url(../images/graytab.jpg);
}
#nav ul li:hover a, #nav li:hover li a {
	border:none;
	color:#666;
	background-image: none;
}

#nav ul a:hover {
	color:black!important;
	background-color: #666;
	width: 130px;
}

#nav li:hover > ul {
	display:block;
}

#nav ul {
	display:none;
	margin:0;
	width:130px;
	position:absolute;
	top:23px;
	left:0px;
	background:#ddd;
	border:1px solid #666;
	padding: 0;
}
	
#nav ul li {
	float:none;
}

#nav ul a {
	font-weight:normal;
	width: 130px;
}

#nav ul ul {
	left:115px;
	top:0px;
}
	
	
