@charset "utf-8";
/* CSS Document */
#page {
	width: 900px;
	min-height: 400px;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
	height: 100%;
	background-color: #A02221;
}


#header {
	width: 900px;
	height: 120px;
	background-image: url(../Images/header.jpg);
}



.container {
	background: #F7F3E1;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	float: right;
	width: 740px;
}

.sidebar_wrapper {
	width: 160px;
	float: left;
	min-height: 300px;

}

.Col_three_740_wide {
	width: 700px;
	z-index: 44;
	text-align: left;
	background-color: #F6F3E0;
	padding: 20px;
	float: left;
}
.form_div {
	float: left;
	width: 700px;
	z-index: 44;
	text-align: left;
	background-color: #F6F3E0;
	height: 30px;
}
.form_div_float_right {
	float: left;
	width: 700px;
	z-index: 44;
	text-align: left;
	background-color: #F6F3E0;
	height: 30px;
}

.form_element {
	float: left;
	width: 660px;
	z-index: 44;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 20px;
	padding-right: 20px;
}
.form_element_No_left_Pad {
	float: left;
	width: 700px;
	z-index: 44;
	text-align: left;
	background-color: #F6F3E0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 0px;
	padding-right: 20px;
}

.form_element_centered {
	float: right;
	width: 700px;
	z-index: 44;
	text-align: center;
	background-color: #F6F3E0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 20px;
}
.form_element_centeredRECEIPT {
	float: right;
	width: 680px;
	z-index: 44;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14pt;
	font-style: normal;
	font-weight: bold;
	text-decoration: none;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 20px;
	height: 300px;
	line-height: 26px;
}

.form_element_submitbutton {
	float: right;
	width: 680px;
	z-index: 44;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 20px;
    height: 91px;
}
.form_element_submitbutton2 {
	float: left;
	width: 680px;
	z-index: 44;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 20px;
}

.bottom_footer {
	width:900px;
	height:45px;
	text-align: center;
	padding-top: 10px;
	background-color: #FFF;
	float:left
}
#feature1 {
	position: absolute;
	left: auto;
	width: 300px;
	height: 173px;
	z-index: 70;
	margin-left: 300px;
	visibility: hidden;
	background-image: url(../Images/check.jpg);
	border-top-width: 3px;
	border-right-width: 3px;
	border-bottom-width: 3px;
	border-left-width: 3px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	margin-top: 350px;
}

#feature2 {
	position: absolute;
	left: auto;
	width: 300px;
	height: 173px;
	z-index: 70;
	margin-left: 300px;
	visibility: hidden;
	background-image: url(../Images/check2.jpg);
	border-top-width: 3px;
	border-right-width: 3px;
	border-bottom-width: 3px;
	border-left-width: 3px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	margin-top: 400px;
}

#feature3 {
	position: absolute;
	left: auto;
	width: 300px;
	height: 173px;
	z-index: 70;
	margin-left: 300px;
	visibility: hidden;
	background-image: url(../Images/check.jpg);
	border-top-width: 3px;
	border-right-width: 3px;
	border-bottom-width: 3px;
	border-left-width: 3px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	margin-top: 50px;
}
#feature4 {
	position: absolute;
	left: auto;
	width: 300px;
	height: 173px;
	z-index: 70;
	margin-left: 300px;
	visibility: hidden;
	background-image: url(../Images/check2.jpg);
	border-top-width: 3px;
	border-right-width: 3px;
	border-bottom-width: 3px;
	border-left-width: 3px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	margin-top: 100px;
}

ul {
	list-style-type: none;
	padding-left: 0px;
	margin-left: 0px;
	margin-top: 0px;
	}
.Text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-style: normal;
	line-height: 12pt;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000;
	text-decoration: none;
}
.Green_Text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
	font-style: normal;
	line-height: 14pt;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #060;
	text-decoration: none;
	float: left;
	padding-left: 20px;
	width: 680px;
}
.Green_Text_float_right {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
	font-style: normal;
	line-height: 14pt;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #060;
	text-decoration: none;
	float: left;
	padding-left: 20px;
	width: 720px;
}


.redtext {
	font-size: 10pt;
	font-style: normal;
	line-height: 12pt;
	color: #C00;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
}
.redtext12 {
	font-size: 12pt;
	font-style: normal;
	line-height: 14pt;
	color: #C00;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
}

.error_text
    {
	height: 52px;
	color: #C00;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
	font-weight: bold;
	list-style-type: none;
	list-style-image: none;
}
.Textlink {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-style: normal;
	line-height: 12pt;
	font-weight: normal;
	color: #00C;
	text-decoration: underline;
}

.footer {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 7pt;
	font-style: normal;
	line-height: 11pt;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000;
	text-decoration: none;
	text-align: center;
	height: 45px;
	width: 900px;
	padding-top: 10px;
	float: left;
	
}
.footer_text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 7pt;
	font-style: normal;
	line-height: 11pt;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000;
	text-decoration: none;
	text-align: center;
}


.footerlinknocolor {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 7pt;
	font-style: normal;
	line-height: 11pt;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000;
	text-decoration: underline;
}
