@charset "utf-8";
/* CSS Document */

#page {
	width: 900px;
	background-color: #B1B095;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
	z-index: 10;
}

.header {
	height: 120px;
	width: 900px;
}
.page_banner {
	height: auto;
	width: 660px;
	padding-top: 10px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	text-align: center;
}



#wrapper {
	position: absolute;
	height: 27px;
	width: 900px;
	z-index: 50;
	border-right-width: 2px;
	border-right-style: solid;
	border-right-color: #717344;
}
/* CSS Document */
.wrapper {
	position: relative;
	height: 27px;
	width: 100%;
}

#nav   {
	line-height: 100%;
	display: inline-block;
	padding: 0px;
	margin: 0px;
	background-color: #798C76;
	list-style-image: none;
	list-style-type: none;
}

#nav li {
	float: left;
	position: relative;
	list-style: none;
	width: 90px;
}
#nav a {
	font-weight: bold;
	color: #FFF;
	text-decoration: none;
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	padding-top: 5px;
	padding-bottom: 6px;
	text-align: center;
	border-right-width: thin;
	border-left-width: thin;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #2C4831;
	border-left-color: #2C4831;
}
#nav a:hover {


}
#nav .current a, #nav li:hover > a {
	color: #360;
	background-color: #B39F3E;
}
#nav ul li:hover a, #nav li:hover li a {
	border: none;
	color: #666;
	background-image: none;
	text-align: left;
}

#nav ul a:hover {
	color: #FFF!important;
	width: 100px;
	background-color: #666!important;
	text-align: left;
	text-indent: 6px;
	padding-left: 0px;
}

#nav li:hover > ul {
	display: block;
}

#nav ul {
	display: none;
	margin: 0;
	width: 100px;
	position: absolute;
	top: 27px;
	left: 0px;
	border: 1px solid #666;
	padding: 0;
	background-color: #ddd;
}
	
#nav ul li {
	float:none;
}

#nav ul a {
	font-weight: normal;
	width: 120px;
	text-indent: 6px;
	padding-left: 0px;
}

#nav ul ul {
	left:115px;
	top:0px;
}


.container {
	width: 700px;
	float: left;
	background-color: #FFF;
	min-height: 425px;
	z-index: 20;
}
/* ~~ These are the columns for the layout. ~~ 
The background colors of the columns match those in the background image of the container. This is redundant on the desktop but plays an important role for viewing with a tablet or phone.
*/
.sidebar_right {
	float: right;
	width: 170px;
	padding-left: 15px;
	padding-right: 15px;
	background-color: #B1B095;
	clear: right;
	height: 30px;
}
.sidebar_time {
	float: left;
	width: 170px;
	height: auto;
	margin-bottom: 15px;
	margin-top: 6px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-style: normal;
	font-weight: normal;
	color: #FFF;
	text-align: center;
}
.sidebar_sub {
	float: left;
	width: 170px;
	height: auto;
	margin-bottom: 15px;
	border: 2px ridge #CCC;
}
.sidebar_sub_facebook {
	float: left;
	width: 170px;
	height: auto;
	margin-bottom: 15px;
}



.page_footer {
	text-align: center;
	height: 30px;
	width: 900px;
	padding-top: 10px;
	background-color: #798C76;
} 
.footer {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 7pt;
	font-style: normal;
	line-height: 11pt;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #FFF;
	text-decoration: none;
	
}
#copyright_footer {
	text-align: center;
	width: 900px;
	padding-top: 6px;
	background-color: #004080;
}


.movie_body_wrapper {
	width: 680px;
	height: 100px;
	z-index: 90;
	visibility: visible;
	background-color: #FFFFFF;
	float: left;
	display: block;
	position: relative;
	padding-right: 20px;
}
.index_bottom_left_button {
	text-align: left;
	padding-left: 20px;
	width: 328px;
	z-index: 80;
	height: 50px;
	float: left;
	border-right-width: 2px;
	border-right-style: solid;
	border-right-color: #C03;
	margin-bottom: 10px;
	margin-top: 10px;
}
.index_bottom_right_button {
	text-align: right;
	width: 328px;
	z-index: 80;
	height: 50px;
	float: left;
	margin-bottom: 10px;
	border-left-width: 2px;
	border-left-style: solid;
	border-left-color: #C03;
	margin-top: 10px;
}
.index_horizontal_white_barRED_BOT {
	width: 660px;
	float: left;
	height: 8px;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #C03;
	margin-left: 20px;
}
.Col_one_no_pad_top340 {
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-style: normal;
	line-height: 12pt;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000;
	text-decoration: none;
	float: left;
	padding-top: 0px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	width: 340px;
}
.Col_two_no_pad_top_300 {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-style: normal;
	line-height: 12pt;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000;
	text-decoration: none;
	float: left;
	padding-top: 0px;
	padding-right: 20px;
	padding-bottom: 20px;
	width: 300px;
}
.Col_names_0f_covers110 {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-style: normal;
	line-height: 12pt;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000;
	text-decoration: none;
	float: left;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 110px;
}
.Col_180 {
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-style: normal;
	line-height: 12pt;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000;
	text-decoration: none;
	float: left;
	padding-top: 0px;
	padding-right: 20px;
	padding-bottom: 20px;
	width: 190px;
	padding-left: 20px;
}

.Col_200 {
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-style: normal;
	line-height: 12pt;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000;
	text-decoration: none;
	float: left;
	padding-top: 0px;
	padding-right: 20px;
	padding-bottom: 20px;
	width: 200px;
	padding-left: 20px;
}

.Col_250 {
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-style: normal;
	line-height: 12pt;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000;
	text-decoration: none;
	float: left;
	padding-top: 0px;
	padding-right: 20px;
	padding-bottom: 20px;
	width: 250px;
	padding-left: 20px;
}
.Col_One_Form {
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-style: normal;
	line-height: 12pt;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000;
	text-decoration: none;
	float: left;
	padding-top: 0px;
	padding-right: 20px;
	padding-bottom: 8px;
	width: 180px;
	height: 30px;
}
.Col_TWO_Form {
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-style: normal;
	line-height: 12pt;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000;
	text-decoration: none;
	float: left;
	padding-top: 0px;
	padding-right: 20px;
	padding-bottom: 8px;
	width: 460px;
	height: 30px;
}


.Col_310 {
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-style: normal;
	line-height: 12pt;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000;
	text-decoration: none;
	float: left;
	padding-top: 0px;
	padding-right: 20px;
	padding-bottom: 20px;
	width: 310px;
	padding-left: 20px;
}
.Col_310_formfields {
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-style: normal;
	line-height: 12pt;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000;
	text-decoration: none;
	float: left;
	padding-top: 0px;
	padding-right: 20px;
	padding-bottom: 8px;
	width: 450px;
	padding-left: 200px;
}




.Col_two_float_left_widthAUTO {
	width: auto;
	text-align: left;
	padding-bottom: 20px;
	float: left;
}



.Col_one {
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-style: normal;
	line-height: 12pt;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000;
	text-decoration: none;
	padding-top: 0px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
}
.Col_one_float_left {
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-style: normal;
	line-height: 12pt;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000;
	text-decoration: none;
	padding-top: 0px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	float: left;
	width: 660px;
}
.Text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-style: normal;
	line-height: 12pt;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000;
	text-decoration: none;
}

.whitelink {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-style: normal;
	line-height: 13pt;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #FFF;
	text-decoration: none;
}

.index_horizontal_white_bar {
	width: 700px;
	float: left;
	height: 10px;
	background-color: #FFF;
}


.Col_one_fullpad {
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-style: normal;
	line-height: 12pt;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000;
	text-decoration: none;
	padding: 20px;
}


.Col_one_NO_PAD {
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-style: normal;
	line-height: 12pt;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000;
	text-decoration: none;
}


.Col_one_no_pad_right {
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-style: normal;
	line-height: 12pt;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000;
	text-decoration: none;
	padding-top: 0px;
	padding-bottom: 20px;
	padding-left: 20px;
}
.Col_one_no_pad_right_5pad_bottom {
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-style: normal;
	line-height: 12pt;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000;
	text-decoration: none;
	padding-top: 0px;
	padding-bottom: 5px;
	padding-left: 20px;
}
.Col_one_no_pad_rightorLeft_5pad_bottom {
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-style: normal;
	line-height: 12pt;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000;
	text-decoration: none;
	padding-top: 0px;
	padding-bottom: 5px;
}


.Col_one_right_float_left_200 {
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-style: normal;
	line-height: 12pt;
	font-weight: lighter;
	font-variant: normal;
	text-transform: none;
	color: #000;
	text-decoration: none;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	float: left;
	padding-right: 5px;
	border-right-width: 4px;
	border-right-style: solid;
	border-right-color: #666633;
	width: 205px;
	z-index: 80;
	height: auto;
}

.Col_one_right_float_left_200_NOBORDER {
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-style: normal;
	line-height: 12pt;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000;
	text-decoration: none;
	padding-top: 10px;
	padding-left: 20px;
	float: left;
	padding-right: 10px;
	width: 200px;
	height: auto;
}

.Col_one_right_float_left_noPadLeft {
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-style: normal;
	line-height: 12pt;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000;
	text-decoration: none;
	padding-top: 0px;
	padding-bottom: 20px;
	padding-left: 0px;
	float: left;
	padding-right: 20px;
}


.Col_one_no_pad_left {
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-style: normal;
	line-height: 12pt;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000;
	text-decoration: none;
	padding-top: 20px;
	padding-bottom: 20px;
}




.Col_two {
	width:290px;
	margin-left: 385px;
	text-align: left;
	padding-bottom: 20px;
}
.Col_two_float_left {
	width: 290px;
	text-align: left;
	padding-bottom: 20px;
	float: left;
}


.Col_three_centered {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-style: normal;
	line-height: 12pt;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000;
	text-decoration: none;
	padding-top: 0px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
}

.pod_ads {
	background-image: url(../images/smile%20footer740.jpg);
	padding: 0px;
	height: 130px;
	width: 740px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	margin: 0px;
}

.title {
	display: block;
	margin: 0;
	text-align: left;
	padding-left: 20px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16pt;
	font-style: normal;
	line-height: 18pt;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000;
	text-decoration: none;
	padding-bottom: 20px;
	padding-top: 20px;
} 
.title_centered {
	display: block;
	margin: 0;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16pt;
	font-style: normal;
	line-height: 18pt;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000;
	text-decoration: none;
	padding-bottom: 10px;
	padding-top: 10px;
}

.title_RED {
	display: block;
	margin: 0;
	text-align: left;
	padding-left: 20px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16pt;
	font-style: normal;
	line-height: 18pt;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #C00;
	text-decoration: none;
	padding-bottom: 20px;
}
.pod1 {
	position:absolute;
	width:230px;
	height:100px;
	z-index:44;
	visibility: visible;
	margin-left: 10px;
	margin-top: 15px;
}
/* CSS Document */
.wrapper_pod1 {
	position:relative;
	height:100px;
	width:300px;
}
.nav_pod1   {
	margin:0px;
	line-height:100%;
	display:inline-block;
	padding: 0px;
}
.nav_pod1 li {
	float:left;
	position:relative;
	list-style:none;
}
.nav_pod1 a {
	font-weight:bold;
	display:block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	width: 230px;
	height: 100px;
}
.nav_pod1 a:hover {
	color:#FFF;
	background-image: url(../images/pod_ad_1MO.jpg);
}
.pod2 {
	position:absolute;
	width:230px;
	height:100px;
	z-index:44;
	visibility: visible;
	margin-left: 255px;
	margin-top: 15px;
}

/* CSS Document */
.wrapper_pod2 {
	position:relative;
	height:100px;
	width:230px;
}
.nav_pod2   {
	margin:0px;
	line-height:100%;
	display:inline-block;
	padding: 0px;
}
.nav_pod2 li {
	float:left;
	position:relative;
	list-style:none;
}
.nav_pod2 a {
	font-weight:bold;
	display:block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	width: 230px;
	height: 100px;
}
.nav_pod2 a:hover {
	color:#FFF;
	background-image: url(../images/pod_ad_2MO.jpg);
}
.pod3 {
	position:absolute;
	width:230px;
	height:100px;
	z-index:44;
	visibility: visible;
	margin-left: 500px;
	margin-top: 15px;
}

/* CSS Document */
.wrapper_pod3 {
	position:relative;
	height:100px;
	width:230px;
}
.nav_pod3   {
	margin:0px;
	line-height:100%;
	display:inline-block;
	padding: 0px;
}
.nav_pod3 li {
	float:left;
	position:relative;
	list-style:none;
}
.nav_pod3 a {
	font-weight:bold;
	display:block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	width: 230px;
	height: 100px;
}
.nav_pod3 a:hover {
	color: #FFF;
	background-image: url(../images/pod_ad_3MO.jpg);
}

ul.navX {
	list-style: none;
	margin-left: -42px;
}
ul.navX li {

}
ul.navX a, ul.navX a:visited {
	display: block;
	width: 150px;
	text-decoration: none;
	color: #FFF;
	font-size: 10pt;
	line-height: 13pt;
	font-weight: normal;
	padding-top: 6px;
	padding-right: 0px;
	padding-bottom: 6px;
	padding-left: 11px;
	font-family: Arial, Helvetica, sans-serif;
}
ul.navX a:hover, ul.navX a:active, ul.navX a:focus {
	color: #006600;
}
.whitelinkSIDE {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-style: normal;
	line-height: 13pt;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #FFF;
	text-decoration: underline;
	padding-left: 11px;
}

.white_centered {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-style: normal;
	line-height: 13pt;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #FFF;
	padding-top: 10px;
	text-decoration: none;
	text-align: center;
	padding-left: 0px;
}

.black_8_centered {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-style: normal;
	line-height: 10pt;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000;
	padding-top: 10px;
	text-decoration: none;
	text-align: center;
	padding-left: 0px;
}
.pod2camp {
	position:absolute;
	width:230px;
	height:100px;
	z-index:44;
	visibility: visible;
	margin-left: 255px;
	margin-top: 15px;
}
/* CSS Document */
.wrapper_pod2camp {
	position:relative;
	height:100px;
	width:230px;
}
.nav_pod2camp   {
	margin:0px;
	line-height:100%;
	display:inline-block;
	padding: 0px;
}
.nav_pod2camp li {
	float:left;
	position:relative;
	list-style:none;
}
.nav_pod2camp a {
	font-weight:bold;
	display:block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	width: 230px;
	height: 100px;
}
.nav_pod2camp a:hover {
	color: #FFF;
	background-image: url(../Camp/campQuote_MO.jpg);
}
.pod3camp {
	position:absolute;
	width:230px;
	height:100px;
	z-index:44;
	visibility: visible;
	margin-left: 500px;
	margin-top: 15px;
}
/* CSS Document */
.wrapper_pod3camp {
	position:relative;
	height:100px;
	width:230px;
}
.nav_pod3camp   {
	margin:0px;
	line-height:100%;
	display:inline-block;
	padding: 0px;
}
.nav_pod3camp li {
	float:left;
	position:relative;
	list-style:none;
}
.nav_pod3camp a {
	font-weight:bold;
	display:block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	width: 230px;
	height: 100px;
}
.nav_pod3camp a:hover {
	color: #FFF;


	background-image: url(
../images/camp pod_ad_3MO.jpg);
	background-image: url(../Camp/camp%20pod_ad_3MO.jpg);
}
.pod2homeschool {
	position:absolute;
	width:230px;
	height:100px;
	z-index:44;
	visibility: visible;
	margin-left: 255px;
	margin-top: 15px;
}
/* CSS Document */
.wrapper_pod2homeschool {
	position:relative;
	height:100px;
	width:230px;
}
.nav_pod2homeschool   {
	margin:0px;
	line-height:100%;
	display:inline-block;
	padding: 0px;
}
.nav_pod2homeschool li {
	float:left;
	position:relative;
	list-style:none;
}
.nav_pod2homeschool a {
	font-weight:bold;
	display:block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	width: 230px;
	height: 100px;
}
.nav_pod2homeschool a:hover {
	color: #FFF;
	background-image: url(../images/pod_ad_2MO.jpg);
}
.pod3homeschool {
	position:absolute;
	width:230px;
	height:100px;
	z-index:44;
	visibility: visible;
	margin-left: 500px;
	margin-top: 15px;
}
/* CSS Document */
.wrapper_pod3homeschool {
	position:relative;
	height:100px;
	width:230px;
}
.nav_pod3homeschool   {
	margin:0px;
	line-height:100%;
	display:inline-block;
	padding: 0px;
}
.nav_pod3homeschool li {
	float:left;
	position:relative;
	list-style:none;
}
.nav_pod3homeschool a {
	font-weight:bold;
	display:block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	width: 230px;
	height: 100px;
}
.nav_pod3homeschool a:hover {
	color: #FFF;



	background-image: url(
../images/camp pod_ad_3MO.jpg);
	background-image: url(../homeschool/campQuote_MO.jpg);
}
.regular_list {
	line-height: 16px;
	padding-left: 20px;
	list-style-position: outside;
	list-style-type: square;
	margin-top: 12px;
}

.regular_list_linespace {
	margin-bottom: 8px;
}

.regular_list_less_linespace {
	line-height: 9px;
	padding-left: 20px;
	list-style-position: outside;
	list-style-type: square;
	margin-top: 8px;
}
.regular_list_linespace_morepad {
	margin-bottom: 8px;
	margin-left: 15px;
}
.regular_list_triangle {
	line-height: 20px;
	padding-left: 10px;
	list-style-position: outside;
	margin-top: 6px;
	list-style-image: url(../bullit.gif);
}
.index_pod_ads_wrapper {
	width: 230px;
	height: 300px;
	z-index: 44;
	visibility: visible;
	background-color: #F6F3E0;
	display: block;
	float: left;
}
.oddlink {
	font-family: Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #00F;
	text-decoration: underline;
	margin-bottom: 2pt;
	float: left;
	width: 160px;
	padding-left: 0px;
	position: absolute;
	right: 0px;
}
a:link {


}
.greenhead {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24pt;
	font-style: normal;
	font-weight: bold;
	color: #360;
	line-height: 26pt;
}

a:visited {

}
a:hover {
	color: #060;
}
a:active {

}
h2 {
	font-size: 12pt;
	color: #FFF;
	text-decoration: underline;
}
h3 {
	font-size: 9pt;
	color: #FFF;
}
h4 {
	font-size: 26px;
	color: #FFF;
	font-style: italic;
	font-weight: bold;
}
.small {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 7pt;
	font-style: normal;
	line-height: 9pt;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000;
	text-decoration: none;
	margin-top: 0px;
	margin-bottom: 2px;
}
.headline {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16pt;
	font-style: normal;
	line-height: 18pt;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000;
	text-decoration: none;
}
.whitelinkCopy {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-style: normal;
	line-height: 13pt;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #FFF;
	text-decoration: underline;
}
.headline24pt {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 28pt;
	font-style: normal;
	line-height: 32pt;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #000;
	text-decoration: none;
}
.Textlink {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-style: normal;
	line-height: 12pt;
	font-weight: normal;
	color: #00C;
	text-decoration: underline;
}
.Text10boldwhite {
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	line-height: 12pt;
	color: #FFF;
}
.textcolorred {
	color: #C00;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-style: normal;
	line-height: 12pt;
}
.textcolorblue {
	color: #36F;
}
.textcolorgreen {
	color: #393;
}
.textcolorsage {
	color: #CC0;
}
.textcolororange {
	color: #F60;
}
.headlinelink {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16pt;
	font-style: normal;
	line-height: 18pt;
	font-weight: normal;
	color: #00C;
	text-decoration: underline;
}
.Text9pt {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-style: normal;
	line-height: 11pt;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000;
	text-decoration: none;
}
.whiteheadline {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13pt;
	font-style: normal;
	font-weight: bold;
	text-decoration: none;
	color: #FFF;
}
.paragraph11ptgreen {
	font-size: 10pt;
	font-style: normal;
	line-height: 12pt;
	font-weight: bold;
	color: #360;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
}
.para11ptlink {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-style: normal;
	font-weight: bold;
	color: #360;
	text-decoration: underline;
}
.whitelinkBOLD {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
	font-style: normal;
	line-height: 14pt;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #FFF;
	text-decoration: none;
}
.para10ptlinkCopy {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-style: normal;
	font-weight: bold;
	color: #360;
	text-decoration: underline;
}
