<?xml version="1.0"?>
<configuration>
  <appSettings>
   
    <!-- here you define the way you want to be notified -->
    <!-- LogEvent = 1, FileLog = 2 e Email = 4. Use 0 when you don't want to be notified -->
    <add key="errorNotifier_NotifyMode" value="4"/>
    <!-- Here you define the event source entry in your LogEvent, the default value is ASP.NET App Error -->
    <add key="errorNotifier_EventLogSource" value="Sample App error"/>
    <!-- Here you define the full path where the file logging should occur -->
    <add key="errorNotifier_Filename" value="error.txt"/>
    <!-- The email address that will receive the notifications -->
    <add key="errorNotifier_EmailTo" value="error@mydomain.com"/>
    <!-- The email account that sends the emails -->
    <add key="errorNotifier_EmailFrom" value="errornotifier@mydomain.com"/>
    <!-- The email subject -->
    <add key="errorNotifier_EmailSubject" value="Error in ASP.NET app"/>
    <!-- The SmtpServer address. Just use if you don't want to use the local SmtpServer -->
    <add key="errorNotifier_EmailSmtpServer" value="mySmtpServerAddress"/>
    <!-- EmailSettings For secureportal-->
    <!-- EmailSettings For live
      <add key="FromAddrmer" value="sales@meridianplanners.com"/>
      <add key="FromNamemer" value="Meridain Planners"/>
      <add key="SmtpServer" value="192.168.1.245"/>
      <add key="smtpuser" value="authnet@memorybook.com"/>
      <add key="smtppassword" value="authnet"/>
      -->

    <add key="FromAddr" value="randy@woodalldevelopment.com"/>
    <add key="FromName" value="testMBc Planners"/>
    <add key="SmtpServer" value="mail.woodalldevelopment.com"/>
    <add key="smtpuser" value="randy@woodalldevelopment.com"/>
    <add key="smtppassword" value="briggitte"/>
  </appSettings>
  <connectionStrings>
    <add name="MilitaryConn" connectionString="server=memserver;User Id=root;password=3l3phant1;Persist Security Info=True;database=mbc" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="MySql.Data, Version=6.4.5.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
  </system.web>
  <system.webServer>
    <modules>
      <add name="EOWebRuntime" type="EO.Web.Runtime,EO.Web"/>
    </modules>
    <defaultDocument>
      <files>
        <clear/>
        <add value="AuthNetService.asmx"/>
        <add value="index.html"/>
        <add value="Default.htm"/>
        <add value="Default.asp"/>
        <add value="index.htm"/>
        <add value="iisstart.htm"/>
        <add value="default.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>